.notification {
    display: flex;
    align-items: center;
}

.notification__btn {
    margin-right: 2.8rem;
}

.notification__message {
    display: flex;
    align-items: center;

    animation: showFromTop .35s ease-in;
}

.notification__text {
    color:  #2a2c2b;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
}

.notification__icon {
    display: block;  
    margin-right: .8rem;
}

@media only screen and (max-width: 56.25em) {
    .notification {
        flex-direction: column;
    }
    .notification__message {
        margin-top: 1rem;
    }
    .notification__btn {
        margin-right: 0;
    }
};

