.user {
    background-color: #fff;
    padding: 1.9rem 3rem;

    display: flex;
    align-items: center;
}

.user:nth-child(odd) {
    background-color:  #fbfcfc;
}

.user__column {
    color: #646c73;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;

    flex: 0 0 18rem;
    
}

.user__column--second {
    flex: 0 0 27.1rem;
}

.user__column--thrid {
    flex: 1 1 auto;
}

.user__btn-remove {
    background: inherit;
    border: none;
    border-radius: 0;
    color: #D3D7D9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    transform: all .25s;
    margin-left: 1rem;
}

.user__btn-remove:hover {
    transform: scale(1.06);
}

@media only screen and (max-width: 25em) {
    .user { 
        padding: 1.9rem 1rem;       
    }
}

@media only screen and (max-width: 56.25em) {
    .user { 
        flex-direction: column;
        align-items: flex-start;
        
    }
    .user__column,
    .user__column--second, 
    .user__column--thrid {
        flex: 1 1 auto;
        margin: .8rem 0;
    }
    .user__btn-remove {
        margin-left: 0;
    }
    
};

