.btn,
.btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.btn {
    border-radius: 3px;
    border: 1px solid #08ab6b;  
    width: 15rem;
    height: 4rem; 
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color:  #ffffff;
    color: #08ab6b;
}

.btn span {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:  #08ab6b;
    color:  #ffffff;
    margin-right: 1.1rem;
    font-weight: 400;
    font-size: 2rem;
}

.btn:hover {
    background-color:  #08ab6b;
    color:  #ffffff;
}

.btn:hover span {
    background-color:  #ffffff;
    color:  #08ab6b; 
}

.btn:disabled {
    background-color: #bdbdbd;
    color: #696969;
    border: 1px solid #696969;  
}

.btn:disabled span {
    background-color:  #ffffff;
    color:  #696969;
}

.btn:disabled:hover{
    background-color:  #bdbdbd;
    color:  #696969;
}

.btn:disabled:hover span{
    background-color:  #ffffff;
    color:  #696969;
}
