.header {
    padding: 3.9rem 0 5rem;
}

.header__content {
    display: flex;
    align-items: flex-end;
}

.header__logo {
    max-width: 15rem;
}

.header__logo > img {
    width: 100%;
    height: 3.1rem;
}

.header__controls{
    
}

.header__link:link,
.header__link:visited {
    color:  #07ab6b;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.header__link:active,
.header__link:hover {
  
}