
.input {
    display: block;
    max-width: 25rem;
    height: 4rem;
    width: 100%;
    padding: 1.4rem 1.5rem;
    border: 1px solid #cfd4d6;
    background-color:  #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

}

.input--invalid {
    border: 1px solid #f56565;
    color: #f56565;
    outline: none;
}

.input::placeholder {
    color: #646c73;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
}