.newUserForm {
    display: flex;
}

.newUserForm__input {
    margin-right: 1rem;
}

.newUserForm__submit-btn {
    margin-right: 2.5rem;
}

.newUserForm__reset-btn {
    color:  #f56565;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    background-color: transparent;
    border-radius: 0;
    border: none;
    width: initial;
    display: inline-block;
    height: initial;
    transition: all .25s
}

.newUserForm__reset-btn:hover {
    background-color: transparent;
    color:  #ff3333;
    font-size: 1.4rem;

}

@media only screen and (max-width: 56.25em) {
    .newUserForm { 
        flex-direction: column;
        align-items: center;
    }
    .newUserForm__input,
    .newUserForm__submit-btn {
        margin-bottom: 1rem;
    }
};

