.users {
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    overflow: auto;
}

.users__controls {
    padding: 2rem 3rem;
}

.users__table {}

.users__table-header {
    background-color:  rgba(233, 235, 240, 0.5);
    padding: 1rem 3rem;

    display: flex;
    align-items: center;
}

.users__table-column {

    color: #646c73;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    flex: 0 0 18rem;
    cursor: pointer;
    transition: color .25s;
}

.users__table-column:hover {
    color: #08ab6b;
}


.users__table-column--second {
    flex: 0 0 27.1rem;
}

.users__list {
    list-style: none;
}

.users__empty,
.users__loader {
    display: flex;
    justify-content: center;
    margin: 10rem 1rem;
}


@media only screen and (max-width: 25em) {
    .users__table-header {
        padding: 1rem 1rem;       
    }
    .users__controls {
        padding: 2rem 1rem;
    }
    
}

@media only screen and (max-width: 56.25em) {
    .users__table-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .users__table-column--second,
    .users__table-column {
        flex: 1 1 auto;
        margin: .8rem 0;
    }   
};
