*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;

  background-color:  #f9fbfa;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  color: inherit;
}

.heading__primary {
  font-size: 3rem;
  font-weight: 300;
  color: #eeeeee;
  letter-spacing: .1rem;
}

.heading__tertiary {
  font-size: 2.2rem;
  font-weight: 700;
  color: #001064;
  letter-spacing: .1rem;
}

.u-fill-remaning-space {
  flex: 1 1 auto;
}


@keyframes showFromTop {
  from {
      transform: translateY(-100%) scale(.8);
      opacity: 0;
  }
  to {
      transform: translateY(0) scale(1);
      opacity: 1;
  }
}
